<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"/>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
      <link rel="stylesheet" href="css/style3.css">
    <title>Document</title>
</head>
<body>
 

<button class="btn btn--primary btn--block">Buy Now</button>
<a href="#" class="btn btn--secondary btn--block">Buy Now</a>


    <script src="js/main.js"></script>
</body>
</html>